.movie-container {
  margin: 4rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  color: white;
  border: 1px solid #c9ab81;
  border-radius: 30px;
  background-color: rgba(62, 87, 104, 0.787);
  padding: 3rem;
  margin-bottom: 9rem;
}

@media only screen and (max-width: 768px) {
  .movie-container {
    width: 98%;
  }
}
